/* ====================================
// css variables
// ==================================== */

:root {
  --purple: #d7a1fd;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.title {
  background: var(--purple);
  font-size: 20px;
  font-family: Noto serif;
  color: white;
  font-weight: 300;
  padding: 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  font-family: Nunito Sans;
  font-weight: 800;
  color: black;
}

.number {
  font-family: Noto serif;
  font-weight: 300;
}

nav {
  background: black;
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: Noto serif;
  padding: 20px 0;
}
